/* CSS WILDEFYR.NET */

html, body {
    background-image: url("/media/noisier_net.png");
    height: 100%;
}

#wrap {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    font: sans-serif;
    text-align: center;
}

#headerList {
    display: flex;
    max-width: 100%;
    margin-left: -40px;
}

#headerList a {
    padding: 10px 1.5em;
    background-color: #14161A;
    border: 2px solid #737373;
    color: #737373;
    transition: all .3s;
}

#headerList a:hover {
    color: #D7D7D7;
    border: 2px solid #D7D7D7;
    transition: all .4s;
}

#headerList h3 {
    font: inherit;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    word-spacing: 2em;
}

#content {
    font: sans-serif;
    margin-top: 10px;
}

#textWrap {
    margin-left: 1em;
    padding-right: 1em;
}

#arcticleTitle {
    display: inline-block;
    background-color: #14161A;
    box-shadow: 5px 5px 20px 1px #000;
    border: 1px solid #737373;
    padding: 10px;
    text-align: left;
    margin-bottom: 20px;
}

#arcticleWhite {
    display: block;
    background-color: #14161A;
    box-shadow: 5px 5px 20px 1px #000;
    border: 1px solid #D7D7D7;
    padding: 20px 10px;
    text-align: left;
}

#arcticleWhite ul {
    color: #FFF;
    list-style-type: none;
    margin: 0px;
    padding-left: 2em;
    font-size: 1em;
}

#arcticleWhite li:before {
    color: #FFF;
    content: "- ";
}

#arcticleWhite li {
    list-style: none;
}

#arcticleWhite table {
    color: #D7D7D7;
    font-size: 85%;
    font: monospace;
    box-shadow: 1px 1px 10px 1px #000;
    border-left: 5px solid #2E8B57;
    background-color: #111;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

#footer {
    margin-top: 20px;
    font: sans-serif;
}

#footerBox {
    display: inline-block;
    margin-bottom: 20px;
    float: right;
    background-color: #14161A;
    box-shadow: 5px 5px 20px 1px #000;
    border: 1px solid #737373;
    padding: 0 10px;
    text-align: center;
}

p {
    color: #FFF;
    font: inherit;
    font-size: 1em;
}

h1 {
    color: #FFF;
    font: inherit;
    font-size: 1.2em;
}

h2 {
    color: #FFF;
    font: inherit;
    font-size: 1.1em;
}

h3 {
    color: #FFF;
    font: inherit;
    font-size: 1.2em;
}

h4 {
    color: #FFF;
    font: inherit;
    font-size: inherit;
}

h5 {
    color: #FFF;
    font: inherit;
    font-size: 0.8em;
}

h6 {
    text-align: center;
    color: #FFF;
    font: inherit;
    font-size: 0.7em;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #737373;
}

a:active {
    color: #2F4748;
}

a:hover {
    color: #B23450;
    transition: all .2s;
}

img {
    width: 94%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 10px 1px #000;
}

video {
    width: 94%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 10px 1px #000;
}

blockquote {
    background-color: #222;
    color: #FFF;
    border-left: 5px solid #B23450;
    padding-left: 10px;
    box-shadow: 5px 5px 10px 1px #000;
    font: inherit;
    font-size: 1em;
    font-style: italic;
}

code, pre {
    display: inline-block;
    color: #D7D7D7;
    background-color: #111;
    font: monospace;
    font-size: 1em;
    padding-left: 5px;
    padding-right: 5px;
}

pre {
    box-shadow: 1px 1px 10px 1px #000;
    border-left: 5px solid #2E8B57;
    min-width: 350px;
}

pre code:before {
    content: none;
}

#alignfile {
    display: inline-block;
    min-width: 600px;
}

#aligndata {
    min-width: 224px;
    display: inline-block;
}

#aligndate {
    float: left;
}

#alignsize {
    float: right;
}
