/* CSS WILDEFYR.NET */

body {
    font: lemon;
    font-size: 1em;
    font-family: monospace;
    background-image: url("/media/blackorchid.png");
    color: #FFF;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#container {
    min-height: 100%;
}

#header {
    position: relative;
    text-align: center;
    border-bottom: 2px solid #2E7B57;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    min-width: 720px;
    font: inherit;
    font-family: monospace;
}

#body {
    width: 100%;
    opacity: 1;
    max-width: 910px;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    position: relative;
    height: 60px;
    text-align: center;
    border-top: 2px solid #2E7B57;
    padding: 5px;
    font-family: monospace;
    font: inherit;
}

#wrapperTitle {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #111111;
    box-shadow: 1px 1px 20px 5px #000;
    border: 2px solid #2E7B57;
    padding: 10px;
    text-align: left;
}

#wrapperArcticleGreen {
    display: block;
    margin-bottom: 20px;
    background-color: #111111;
    box-shadow: 1px 1px 20px 5px #000;
    border: 2px solid #2E7B57;
    padding: 10px;
    text-align: left;
}

#wrapperTitleRed {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #111111;
    box-shadow: 1px 1px 20px 5px #000;
    border: 2px solid #C64552;
    padding: 10px;
    text-align: left;
}

#wrapperArcticleRed {
    display: block;
    margin-bottom: 20px;
    background-color: #111111;
    box-shadow: 1px 1px 20px 5px #000;
    border: 2px solid #C64552;
    padding: 10px;
    text-align: left;
}

#wrapperTitleBlue {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #111111;
    box-shadow: 1px 1px 20px 5px #000;
    border: 2px solid #479EBB;
    padding: 10px;
    text-align: left;
}

#wrapperArcticleBlue {
    display: block;
    margin-bottom: 20px;
    background-color: #111111;
    box-shadow: 1px 1px 20px 5px #000;
    border: 2px solid #479EBB;
    padding: 10px;
    text-align: left;
}

#startOne {
    display: block;
    margin-left: 100px;
    margin-top: 10px;
    width: 490px;
    background-color: #111111;
    box-shadow: 1px 1px 20px 5px #000;
    border: 2px solid #C64552;
    padding: 15px;
    text-align: left;
    font-family: monospace;
}

#startTwo {
    display: block;
    margin-left: 50px;
    margin-top: -10px;
    width: 500px;
    background-color: #111111;
    box-shadow: 1px 1px 20px 5px #000;
    border: 2px solid #479EBB;
    padding: 15px;
    text-align: left;
    font-family: monospace;
}

img {
    width: 94%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 20px 5px #000;
}

video {
    width: 94%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 20px 5px #000;
    preload: auto;
}

p {
    color: #FFF;
    font-size: 1em;
}

h1 {
    color: #FFF;
    font: inherit;
    font-weight: normal;
    font-family: monospace;
}

h2 {
    color: #FFF;
    font: inherit;
    font-weight: normal;
    font-family: monospace;
}

h3 {
    color: #FFF;
    font: inherit;
    font-weight: normal;
    font-family: monospace;
}

h4 {
    color: #FFF;
    font: inherit;
}

h5 {
    color: #FFF;
    font: inherit;
    font-weight: normal;
    font-family: monospace;
}

h6 {
    text-align: center;
    color: #FFF;
    font: inherit;
    font-weight: normal;
    font-family: monospace;
}

a {
    text-decoration: none;
}

a:link {
    color: #597B9E;
}

/* visited link */
a:visited {
    color: #597B9E;
}

/* mouse over link */
a:hover {
    color: #C64552;
}

/* selected link */
a:active {
    color: #597B9E;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding-left: 2em;
    font-size: 1em;
}

li:before {
    content: "- ";
}

blockquote {
    background-color: #222;
    color: #FFF;
    border-left: 5px solid #568081;
    padding-left: 10px;
    margin-left: 2em;
    box-shadow: 1px 1px 20px 5px #000;
    font: inherit;
    font-style: italic;
    font-family: monospace;
}

code, pre {
    display: inline-block;
    min-width: 200px; background-color: #222;
    color: #FFF;
    border-left: 5px solid #E7504E;
    padding-right: 10px;
    margin-left: 2em;
    font: inherit;
    font-family: monospace;
}

pre code:before, pre code:after {
    content: none;
}

pre {
    overflow-x: auto;
    overflow-y: hidden;
    box-shadow: 1px 1px 20px 5px #000;
}

pre code {
    padding: 0;
    border: none;
}
